#loader {
  border: 16px solid #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  border-top: 16px solid #ED341D;
  border-bottom: 16px solid #ED341D;
  margin-left: 40%;
  margin-top: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#main {
  border: 1px solid;
  padding: 50px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}

#success-area {
  background: #D4EDDA;
  padding: 10px;
  border-radius: 5px;
  color: #155724;
}

h2 {
  text-decoration: underline red;
  text-decoration-thickness: 3px;
  text-underline-offset: 6px;
  font-weight: bold;
}

audio {
  width: 100%;
  margin-top: 0.2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
}

#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}


.btn-primary:hover {
  background-color: #c72d1c !important;
}

#recordingsList {
  padding-left: 0 !important;
}